body
{
	background-color/**/;
}

#header
{
	text-align: center;
	height: 20%;
	width: 100%;
	background-image: url("https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2017/8/Doctor_and_patient_680x_-_Syda_Productions.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

img
{
	width: 5%;
	height: 50%;
}

#header, #main
{
	font-family: arial;
}

#main
{
	text-align: center;
}

.button-grid {
	display: grid;
	grid-gap: 10px;
	justify-content: center;
  }
  
  button {
	width: 200px;
	height: 50px;
	font-size: 18px;
	border-radius: 30px;
  }  
